---
---

@import "{{ site.theme }}";

.page-header {
    padding: 0;
    height: 100vh;
}

.page-header {
    background-image: url(https://on-the-road-encore.com/mariage/2017-08.JPG);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
}
